html,body{
	font-family: 'Montserrat', sans-serif;
	width: auto;
	height: 100%;
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6{font-family: 'Oswald', sans-serif;}
img{
    width: 100%;
    height: 100%;
}
a{color: #FF4242;transition: 0.3s;}
a:hover{color: #202226;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 0.5;
}
 
input:-moz-placeholder,textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    opacity: 0.5;  
}
 
input::-moz-placeholder,textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
    opacity: 0.5;  
}
 
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #fff !important;
    opacity: 0.5;  
}

.oh{overflow: hidden;}

.grey-bg{background-color: #F2F2F2;}

.section-padding {
    padding:  40px 0;
}

.bcc-nav-bg {
    background-color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}
nav.nav-bar{
    transition: 0.3s;
}
.bcc-nav-brand img {
    max-height:  50px;
    width: auto;
}

.nav-item .nav-link {
    color:  #202226;
    font-size: 14px;
}
.navbar.lightheader{
    padding: 0 18px;
}
.lightheader{
    background-color: #fff;
    opacity: 1;
}
.nav-link:hover,.nav-link.active {
    color:#FF4242
}

.nav-item {
    position: relative;
    z-index:  2;
    margin-left:  5px;
}

.nav-link {
    position: relative;
}
.nav-link.active:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #202226;
    content: '';
}
.nav-link.active:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #202226;
    content: '';
}


.nav-item:before {
    position:  absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    content:  '';
    z-index:  -1;
    transition: 0.4s;
    background-color: #202226;
}

.nav-item:after {
    position:  absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 1px;
    content:  '';
    z-index:  -1;
    transition: 0.4s;
    background-color: #202226;
}
.nav-item:hover:before,.nav-item:hover:after {
    width:  100%;
}


/* ======================== */

.clock-wrapper {
    font-size: 30px;
    color:  #ff4242;
    font-family:  oswald;
    padding: 8px 0;
    font-weight: 600;
}

.clock-wrapper div {
    display:  inline-block;
    padding-left:  20px;
}

.next-big-event {
    background:  #202226;
    color:  #fff;
    position: relative;
    z-index: 999;
    text-transform: uppercase;
}




.img-continer {
    height: 100vh;
    width:  100%;
    display:  block;
    background-size:  cover;
    background-position:  center;
}

.single-slide-item p {
    position:  absolute;
    left: 3%;
    bottom: 0;
    background:  rgba(255,255,255,0.5);
    padding: 20px 25px;
    font-size:  20px;
    font-weight: 600;
}

.single-slide-item {
    position:  relative;
}


.news-img {
    height: 170px;
    width: 100%;
    display:  inline-block;
    background-size:  cover;
    background-position:  center;
}

h1.header-text {
    position:  relative;
    font-size: 32px;
    text-transform:  uppercase;
    transform:  rotate(-90deg);
    width:  300px;
    margin-top: 145px;
    text-align: right;
    margin-left: -95px;
    color: #202226;
    font-weight: 600;
}

h1.header-text:before {
    position:  absolute;
    width: 100%;
    height: 3px;
    content:  '';
    top: -10px;
    background:  #202226;
    display: inline-block;
}

.news-meta {
    position:  relative;
}

.news-meta p {
    position:  absolute;
    left:  50%;
    transform:  translateX(-50%);
    background:  #fff;
    padding: 8px 20px;
    top: -25px;
    font-weight:  700;
    border: 1px;
    font-size: 14px;
    box-shadow: 0 0 5px #eee;
    text-align:  center;
}

.news-meta h2,.news-meta a{
    font-size:  25px;
    padding-top:  14px;
    color: #FF4242;
    transition: 0.3s;
    text-align:  center;
}
.news-meta a:hover{
    color: #202226;
    text-decoration: none;
}
.news-meta span {
    font-size: 12px;
    padding-left: 5px;
}


.news-meta .readmore-btn {
    font-size: 14px;
    display: inline-block;
    clear: both;
    padding: 5px;
    color: #202226;
}
.news-meta .readmore-btn:hover{
    color: #FF4242;
}

.grey-bg .single-recent-news-slides {
    background-color: #fff;
}
.single-recent-news-slides {
    margin: 10px 5px;
    box-shadow: 0  0 15px #ddd;
    padding: 15px 10px;
}


.membership-area {
    background-color:  #202226;
    color:  #fff;
    padding:  30px 0;
}

.membership-area a {
    color:  #fff;
}

.bcc-btn {
    display: inline-block;
    background: #FF4244;
    padding: 11px 25px;
    font-weight:  700;
    font-size:  20px;
    transition: 0.3s;
    cursor:pointer ;
}

.membership-area h2 {
    text-transform:  uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 3px 0;
    margin:  0;
}

.bcc-btn:hover {
    background:  #fff;
    color: #FF4242;
    text-decoration:  none;
}


.contact-area{
    background-image: url(../img/contact-bg-2.jpg);
}

.contact-area {
    position:  relative;
    z-index:  1;
    background-size:  cover;
    background-position: center top;
    background-attachment:  fixed;
}

.contact-area:before {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    content:  '';
    background: #202226;
    z-index:  -1;
    opacity: 0.7;
}

.header-text h2 {
    color: #FF4242;
    margin-bottom:  50px;
    font-size:  50px;
}

.form-wrapper input,.form-wrapper textarea {
    width:  100%;
    margin-bottom:  10px;
    padding:  10px 15px;
    font-size: 16px;
    background: rgba(0,0,0,0.2);
    border:  none;
    border-bottom: 2px solid #FF4242;
    color:  #fff;
}

.form-wrapper textarea {
    height: 200px;
    resize:  none;
}

.form-wrapper input:focus, .form-wrapper textarea:focus {
    outline:  none;
}

.submit-btn {
    border:  none;
    background: #FF4242;
    color:  #fff;
    padding:  10px 25px;
    font-weight:  700;
    text-transform:  uppercase;
    transition: 0.3s;
    cursor:  pointer;
}

.submit-btn:hover {
    background: #fff;
    color:  #FF4242;
}

.footer-area {
    background:  #202226;
    color: #fff;
    border-bottom: 1px solid #ff4242;
}

.footer-area a {
    color:  #fff;
}

.footer-widget {
    padding:  10px 20px;
}

.footer-widget h1,.footer-widget h2 {
    color: #FF4242;
    margin-bottom: 15px;
}

.footer-widget ul {
    margin:  0;
    padding:  0;
    list-style:  none;
    /* color: #7f8c8d; */
}

.footer-widget li {
    position:  relative;
    padding-left: 25px;
}

.footer-widget li:before {
    position:  absolute;
    left:  0;
    content: '\f0c1';
    font-family:  fontawesome;
    color:  #ff4242;
}

.footer-widget i.fa {
    display:  inline-block;
    border: 1px solid #fff;
    padding: 10px 15px;
    font-size: 22px;
}

.footer-widget i.fa:hover {
    border-color:#ff4242;
    color:#ff4242;
}

.minifooter {
    font-size:  14px;
    padding:  10px 0;
}

/* =============
Return to top
========== */


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #FF4242;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:#fff;
    box-shadow: 0 0 10px #202226;
}
#return-to-top:hover i {
    color: #202226;
   
}

/* =============
Return to top end
========== */


.team-section{
    padding-top:  100px;
    padding-bottom: 0;
}

.page-meta {
    position:  relative;
    background: #202226;
    color: #FF4242;
    padding: 40px 0;
}

.page-meta span {
    position:  absolute;
    left: 0;
    opacity:  0.8;
    top: 50%;
    transform:  translateY(-50%);
    color:  #fff;
}

.page-meta h2 {
    text-align:  center;
    margin-bottom:  0;
    font-size:  50px;
}

.team-member-img {
    height: 250px;
    background-size:  cover;
    background-position:  center top;
    background-color:  #333;
    position: relative;
}

.member-meta {
    border: 1px solid #202226;
    margin-top:  20px;
    text-align:  center;
    padding-bottom: 15px;
    letter-spacing: 1px;
}


.member-name {
  margin-top: -20px;
}
.member-name h3 {
  background: #fff;
  sdi: ;
  display: inline-block;
  padding: 0 10px;
}


.member-meta p {
    margin: 0;
}

.single-team-member {
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 0 5px #ddd;
    background-color: #fff;
}

.contact-links {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #202226;
    padding: 10px 0;
    transition: all  0.3s;
    visibility: hidden; 
    opacity: 0;
}

.contact-links a {
    border: 1px solid;
    padding: 5px 10px;
    font-size: 20px;
    margin:  0 5px;

}

.contact-links a:hover {
    color:  #fff;
}

.single-team-member:hover .contact-links {
    visibility:visible;
    opacity: 1;
}
.single-team-group .header-text {
    font-size:  25px;
    /* letter-spacing:  5px; */
}

.single-team-group .col-md-2 {
    padding-top:  35px;
    overflow:  hidden;
}


.single-team-group:nth-child(2n) {
  background: #f9f9f9;
}/* 
.single-team-group:nth-child(2n) .single-team-member {
  box-shadow: 0 0 5px #fff;
} */


.bcc-table {
    display:  table;
    width:  100%;
    height:  100%;
}

.bcc-tcell {
    display:  table-cell;
    vertical-align:  middle;
}

.single-programe-item-wapper {
    height: 400px;
    background-color:  #333;
    /* border:  1px solid #fff; */
    padding: 40px;
}

.all-programe-wrapper {
    margin:  40px 0;
}

.single-programe-item-wapper {
    position:  relative;
    background-size:  cover;
    background-position:  center;
    z-index:  1;
    transition: 0.5s;
}

.single-programe-item-wapper:before {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    content:  '';
    background: #202226;
    opacity:  0.8;
    z-index:  -1;/* 
    outline: 1px solid #fff;
    outline-offset: -35px; */
}

.single-programe-item a {
    display:  block;
    /* height:  100%; */
    /* line-height: 330px; */
}

.single-programe-item h1 {
    margin:  0;
}

.single-programe-item a:hover {
    color:  #fff;
    text-decoration:  none;
}

.single-programe-item-wapper:hover {
    transform: scale(1.03);
}

.single-programe-item {
    border:  1px solid #fff;
    position: relative;
}






.news-img-container {
    height:  200px;
    background-color:  #333;
    background-size:  cover;
    background-position:  center;
    position:  relative;
    z-index:  1;
    background-color: #333;
    transition: 0.4s;
}

.single-news-item-wrapper {
    position:  relative;
    margin: 5px;
    overflow:  hidden;
}

.news-img-container:before {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    content:  '';
    z-index:  -1;
    background: -moz-linear-gradient(top, rgba(237,237,237,0.5) 35%, rgba(237,237,237,0.55) 40%, rgba(10,8,9,0.7) 85%);
    background: -webkit-linear-gradient(top, rgba(237,237,237,0.5) 35%,rgba(237,237,237,0.55) 40%,rgba(10,8,9,0.7) 85%);
    background: linear-gradient(to bottom, rgba(237,237,237,0.5) 35%,rgba(237,237,237,0.55) 40%,rgba(10,8,9,0.7) 85%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ededed', endColorstr='#b30a0809',GradientType=0 );
}

.single-news-item-wrapper p {
    position:  absolute;
    right: 0;
    top: 0;
    z-index:  2;
    background: #FF4242;
    color:  #fff;
    font-size: 15px;
    font-weight:  700;
    padding: 10px 15px;
}


.single-news-item-wrapper .news-meta{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 10px;
}

.single-news-item-wrapper a {
    position:  absolute;
    left:  0;
    top: 0;
    width:  100%;
    height:  100%;
    z-index: 999;
}

.single-news-item-wrapper:hover .news-img-container {
    transform: scale(1.1);
}
.news-meta span {
    padding:  0 5px;
}

ul.pagination a {
    padding: 10px 15px;
    border: 1px solid #202226;
    margin: 0 1px;
    /* font-size: 18px; */
    font-weight: 700;
    color:  #202226;
}

ul.pagination {
    margin-top: 35px;
    margin-bottom: 0;
}

ul.pagination a:hover {
    text-decoration:  none;
}
ul.pagination a.active, ul.pagination a:hover {
    background:  #FF4242;
    color: #fff;
    border-color: #FF4242;
}




.team-section.blog-bg .page-meta {
    background:  transparent;
}

.team-section.blog-bg {
    background-size: cover;
    background-repeat:  no-repeat;
    position:  relative;
    padding-bottom: 80px;
    padding-top: 140px;
    z-index:  1;
}

.team-section.blog-bg:before {
    position:  absolute;
    left:  0;
    top:  0;
    width:  100%;
    height:  100%;
    content:  '';
    background:  #333;
    z-index:  -1;
    opacity:  0.7;
}



.blog-meta-content span {
    display:  inline-block;
    padding: 5px 10px;
    font-size:  20px;
    /* width: 18.33333%; */
    margin:  0 auto;
}

.blog-meta-content i.fa {
    padding-right: 5px;
}

.blog-meta-content {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding:  10px 20px;
}

.blog-detail h1,.blog-detail h2,.blog-detail h3,.blog-detail h4,.blog-detail h5 {
    margin:  0;
}

.blog-detail .img-caption {
    background: #F2F2F2;
    display:  block;
    text-align:  center;
    font-size:  14px;
    font-weight: 300;
    padding:  5px 0;
}


.blog-sidebar {
    text-align:  center;
}

.blog-sidebar ul {
    margin:  0;
    padding:  0;
    list-style:  none;
}

.blog-sidebar li {
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #ddd;
}

.blog-sidebar a h4 {
    margin:  0;
    font-size: 22px;
}

.blog-sidebar a img {
    margin-bottom:  10px;
}

.blog-sidebar h4 {
    font-size: 40px;
}

.blog-content-top-margin {
    background:  #fff;
    margin-top: -80px;
    padding:  20px;
    border-radius: 5px;
    position:  relative;
    z-index:  999;
}

.team-section.blog-bg .page-meta h2 {
    color:  #fff;
}

.user-profile-img{background-image: url(../img/programe-1.jpg);-webkit-background-size: cover;
background-size: cover;background-position:center; background-attachment: fixed;}

.user-profile-img {
    position:  relative;
    z-index:  1;
    /* min-height: 200px; */
}

.user-profile-img:before {
    position:  absolute;
    left:  0;
    top: 0;
    width: 100%;
    height:  100%;
    content:  '';
    background: #202226;
    z-index:  -1;
    opacity:  0.5;
}

.profile-avatar-area {
    position:  relative;
    text-align:  center;
    height: 280px;
}

.profile-avatar {
    height: 140px;
    width: 140px;
    margin:  0 auto;
    position:  absolute;
    bottom: -70px;
    left:  50%;
    border-radius:  50%;
    overflow:  hidden;
    border: 3px solid #FF4242;
    /* margin: 5px; */
    transform:  translateX(-50%);
}

.profile-details-area {
    padding-top: 70px;
    text-align:  center;
}

.profile-details-area h1 {
    letter-spacing:  2px;
    font-weight: 800;
    color:  #FF4242;
    margin:  5px 0;
}

.profile-details-area span {
    font-weight: 600;
}

.profile-details-area {
    font-size:  20px;
    margin-bottom: 30px;
}

.user-contact-section {
    text-align:  center;
    margin: 40px 0;
}

.user-contact-section a {
    border:  1px solid;
    padding: 20px 20px;
    width:  100%;
    display: block;
    font-size: 40px;
}

.user-posts {
    /* padding: 40px 0; */
    border-top:  1px solid;
    padding-top: 20px;
}

.user-posts h1 {
    margin-bottom:  20px;
}

.profile-details-area i.fa {
    font-size: 20px;
    color:  #fff;
    /* cursor:  pointer; */
}

.profile-details-area .bcc-btn:hover {
    background:  #333;
    /* box-shadow: 0 0 18px red; */
}